.card {
    width: 30%;
    display: flex;
    flex-direction: column;
    border: 4px dodgerblue solid;
    align-content: center;
    margin: 0 auto;
    border-radius: 25px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
  
.card-header {
  color: black;
  text-align: center;
}

.card-header p{
  font-size: 200px;
  font-weight: 600;
  color: #333;
}

.card-header p {
  font-size: 20px;
}

.container {
  padding: 4px 16px;
}

.style{
  margin-top: 100px;
}



  